<% include ../partials/boilerplate %>


<div>
  <h1><%= todo.title %></h1>
  <h1><%= todo.category %></h1>
  <% if (todo.status === false) {
    todo.status = 'Not Done'
  }else if (todo.status === true) {
    todo.status = 'Done'
  }  %>

  <h1><%= todo.status %></h1>
  <h1><%= todo.info %></h1>
</div>

<div>
    <div>
      <form action="/todos/<%=todo.id %>?_method=PUT" method="POST">
        <input type="text" name="title" placeholder="title" value="<%= todo.question %>" />
        <input type="text" name="category" placeholder="category" value="<%= todo.answer %>" />
        <select name="status" value="">
          <option value="true">DONE!</option>
          <option value="false">NOT DONE</option>
        </select>
        <textarea name="info" value="<%= todo.info %>"></textarea>
        <input type="submit" value="Edit it!">
      </form>
    </div>

    <a href="/todos/<%=todo.id %>">Back to TODOS!</a>
  </div>

<% include ../partials/end %>
